@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 30px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }


    .fancybox__content > .carousel__button.is-close
    {
        top: 24px;
        right: 20px;
    }



    /*----------------
        Datepicker
    ----------------*/
    .air-datepicker
    {
        width: 263px;
        padding: 9px;
    }

    .air-datepicker-nav--title
    {
        font-size: 16px;
        line-height: 20px;
    }


    .air-datepicker-body--day-name
    {
        font-size: 15px;
        line-height: 21px;
    }


    .air-datepicker-cell,
    .air-datepicker-cell.-current-
    {
        font-size: 15px;
        line-height: 21px;

        height: 35px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 10px 0 20px;
    }


    .mob_header .btns .btn + .btn
    {
        margin-left: 10px;
    }

    .mob_header .btns .btn
    {
        font-size: 10px;

        width: 24px;
        height: 24px;
    }

    .mob_header .btns .compare_link .icon
    {
        width: 14px;
        height: 12px;
    }

    .mob_header .btns .favorite_link .icon
    {
        width: 14px;
        height: 13px;
    }

    .mob_header .btns .cart_link .icon
    {
        width: 15px;
        height: 15px;
    }

    .mob_header .btns .phone_link .icon
    {
        width: 24px;
        height: 24px;
    }


    .mob_header .btns .btn .count
    {
        line-height: 18px;

        top: -9px;
        left: -9px;

        width: 18px;
        height: 18px;
    }


    .mob_header .logo
    {
        width: 40px;
    }

    .mob_header .mob_menu_btn
    {
        margin-left: 15px;
    }


    .mob_header .search
    {
        margin-top: 10px;
    }

    .mob_header .search .input
    {
        width: calc(100% - 34px);
        height: 34px;
        padding-bottom: 3px;
    }

    .mob_header .search .submit_btn
    {
        width: 34px;
        height: 34px;
    }

    .mob_header .search .submit_btn .icon
    {
        width: 14px;
        height: 14px;
    }


    .mob_header .search .tip,
    .mob_header .search .empty
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 30px;
    }


    .breadcrumbs .sep,
    .breadcrumbs .points
    {
        margin: 0 2px;
    }


    .breadcrumbs .points ~ a,
    .breadcrumbs .points ~ .sep
    {
        display: none;
    }

    .breadcrumbs .points,
    .breadcrumbs .points + .sep
    {
        display: inline-block;
    }



    .page_title
    {
        font-size: 36px;
    }

    .page_title span
    {
        font-size: 30px;
        line-height: 34px;

        display: block;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }

    .form .columns > *.width1of4
    {
        width: calc(50% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 12px;
    }


    .form .date_time .title
    {
        font-size: 20px;
    }


    .form .date_time .field.date,
    .form .date_time .field.time
    {
        width: 100%;
    }

    .form .date_time .field.time
    {
        margin-top: 12px;
    }


    .form .submit .agree
    {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 18px;
    }


    .text_block h2
    {
        line-height: calc(100% + 2px);
    }


    .text_block.middle > *,
    .text_block.middle .cols .col > *,
    .text_block.middle .mini_w > *,
    .text_block.middle .margin > *,
    .text_block.middle .with_title .title + div > *
    {
        margin-bottom: 20px;
    }


    .text_block .gallery .row > *
    {
        width: calc(100% - 20px);
    }


    .text_block b,
    .text_block strong
    {
        font-size: 16px;
    }


    .text_block hr.min_margin
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .text_block * + h2.min_margin,
    .text_block * + h4
    {
        margin-top: 20px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 540px;

        align-items: flex-start;
        align-content: flex-start;
    }



    .main_slider .btns
    {
        flex-direction: column;

        margin-left: 0;

        align-items: flex-start;
        align-content: flex-start;
    }

    .main_slider .btns .link
    {
        margin-top: 10px;
        margin-left: 0;
    }


    .main_slider .controls
    {
        width: 100%;
    }


    .main_slider .controls .swiper-horizontal > .swiper-pagination-bullets,
    .main_slider .controls .swiper-pagination-bullets.swiper-pagination-horizontal,
    .main_slider .controls .swiper-pagination-custom,
    .main_slider .controls .swiper-pagination-fraction
    {
        width: 152px;
        margin-right: auto;
    }



    /*----------------------
        Categories block
    ----------------------*/
    .categories_block .block_head .title
    {
        width: 260px;
    }

    .categories_block .block_head .icon
    {
        top: 16px;
    }


    .categories_block .row
    {
        margin-left: 0;
    }

    .categories_block .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .categories_block .main
    {
        min-height: 0;
    }



    /*-----------
        Steps
    -----------*/
    .steps .item
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info .code
    {
        height: 160px;
    }



    /*-----------------
        Action block
    -----------------*/
    .action_block
    {
        padding: 20px 0;
    }



    /*--------------
        Products
    --------------*/
    .products .product .info
    {
        padding: 10px;
    }



    /*------------------
        Compare info
    ------------------*/
    .compare_info .compare_btns > * + *,
    .compare_info .col_left .compare_btns > * + *
    {
        margin-top: 10px;
        margin-left: 0;
    }


    .compare_info .swiper-slide
    {
        width: 280px;
    }



    /*--------------
        Comments
    --------------*/
    .comments .comment_wrap
    {
        padding: 10px;
    }


    .comments .comment .name
    {
        line-height: 18px;

        max-width: calc(100% - 128px);
    }


    .comments .comment .date,
    .comments .comment .time
    {
        margin-left: 10px;
    }


    .comments .answer .title
    {
        width: 100%;
        margin-bottom: 8px;
        padding-left: 20px;
    }

    .comments .answer .comment
    {
        width: calc(100% - 20px);
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info table td.price:not(.total)
    {
        line-height: normal;

        display: flex;

        width: 100%;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .cart_info table td.price:not(.total):before
    {
        width: 176px;
        margin: 0;
    }


    .cart_info table tfoot td.info
    {
        width: auto;
    }

    .cart_info table tfoot td.amount
    {
        line-height: normal;
    }

    .cart_info table tfoot td.price.total
    {
        width: 100%;
        margin-top: 16px;

        text-align: right;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .data
    {
        position: relative;
    }


    .product_info .info .name
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .product_info .info .val
    {
        width: 100%;
    }


    .product_info .status
    {
        margin-top: 0;
    }


    .product_info .btns
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    .product_info .btns .btn
    {
        padding: 10px 9px;
    }


    .product_info .rating
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
    }

    .product_info .rating .stars
    {
        width: 100%;
        margin-top: 2px;
        margin-left: 0;
    }



    .product_info .buy .btn,
    .product_info .buy .btn.green
    {
        width: 100%;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .link
    {
        padding-right: 0;
        padding-left: 0;
    }



    /*----------------------
        Payment delivery
    ----------------------*/
    .payment_delivery .row > *
    {
        margin-top: 20px;
    }

    .payment_delivery .row > * + *
    {
        margin-top: 50px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .type
    {
        display: block;
    }

    .checkout_info .type .field + .field
    {
        margin-top: 20px;
        margin-left: 0;
    }



    /*------------
        Footer
    ------------*/
    footer .col_left
    {
        margin-top: 20px;
    }


    footer .info .col_center
    {
        margin-top: 120px;
    }


    footer .copyright,
    footer .creator
    {
        width: calc(50% - 10px);
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 32px 20px;
    }


    .modal_title
    {
        padding-right: 24px;
    }



    #quike_buy_modal .product .thumb
    {
        width: 100%;
        height: auto;
        padding-bottom: 81.96%;
    }


    #quike_buy_modal .product .color .row
    {
        margin-bottom: -9px;
        margin-left: -9px;
    }

    #quike_buy_modal .product .color label
    {
        margin-bottom: 9px;
        margin-left: 9px;
    }
}
